<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/menu-item.css" type="text/css" />
  <link rel="stylesheet" href="/styles/restaurants.css" type="text/css" />
  <link rel="stylesheet" href="/styles/user-options.css" type="text/css" />


  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script> -->

  <!-- Latest compiled JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  <header>
    <nav class="navbar fixed-top navbar-dark bg-dark">
      <a class="navbar-brand" href="" id="logo-button"><b>FüD</b></a>

      <div id="dropdown-section">
        <i class="fas fa-user-circle" id="user-icon-status"></i>
        <!-- Dropdown for filter options -->
        <div class="dropdown">
          <button class="btn btn-outline-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="filter-option-button">
            <i class="fas fa-filter"></i>
          </button>
          <form class="dropdown-menu p-4" id="filter-options">
            <h6 class="dropdown-header">Filter Options</h6>
            <div class="dropdown-divider"></div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="is_vegan" name="is_vegan" value="true">
              <label class="form-check-label" for="is_vegan">
                Vegan
              </label>
              <i id="vegan" class="fas fa-leaf"></i>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="is_vegetarian" name="is_vegetarian" value="true">
              <label class="form-check-label" for="is_vegetarian">
                Vegetarian
              </label>
              <i id="vegetarian" class="fas fa-carrot"></i>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="is_gluten_free" name="is_gluten_free" value="true">
              <label class="form-check-label" for="is_gluten_free">
                Gluten Free
              </label>
              <i id="gluten_free" class="fab fa-goodreads"></i>
            </div>
            <div class="dropdown-divider"></div>
            <button type="submit" class="btn btn-primary">Filter</button>
          </form>
        </div>

        <!-- Dropdown for cart -->
        <div class="dropdown container justify-content-around" id="cart-dropdown" >
          <button class="btn btn-outline-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="order-cart-dropdown">
            <i class="fas fa-shopping-cart"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right">

            <div id="order-cart-container">

              <!-- Container for order items to be dynamically be loaded in -->
              <div class="container justify-content-center" id="order-container"></div>

              <!-- Container for summary and order/cancel buttons -->
              <div class="container">
                <div class="row justify-content-around align-items-center">

                  <!-- Order Summary Card -->
                  <div class="col-8">
                    <div class="card text-white border-light bg-dark" style="width: 14rem;">
                      <div class="row card-header justify-content-center">
                        Order Summary
                      </div>
                      <div class="container">
                        <div class="row justify-content-around">
                          <div class="col-5">
                            <div class="row">
                              Subtotal:
                            </div>
                            <div class="row">
                              GST:
                            </div>
                            <div class="row">
                              PST:
                            </div>
                            <div class="row">
                              Total:
                            </div>
                          </div>
                          <div class="col-3">
                            <div class="row" id="summary-subtotal">
                            </div>
                            <div class="row" id="summary-gst">
                            </div>
                            <div class="row" id="summary-pst">
                            </div>
                            <div class="row" id="summary-total">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Order and cancel buttons -->
                  <div class="col">
                    <div class="row">
                      <button class="btn btn-outline-success order-cancel" id="checkout">Checkout</button>
                    </div>
                    <div class="row">
                      <button class="btn btn-outline-danger order-cancel" id="cancel">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="user-options in" id="user-details">
      <i class="fas fa-chevron-right" id="slide-button"></i>
      <div id="user-container">
        <section id="user-options"></section>
      </div>
    </div>
  </main>

  <script type="text/javascript" src="/scripts/view-manager.js"></script>
  <script type="text/javascript" src="/scripts/vm-restaurant.js"></script>
  <script type="text/javascript" src="/scripts/vm-menu.js"></script>
  <script type="text/javascript" src="/scripts/vm-user.js"></script>
  <script type="text/javascript" src="/scripts/vm-order.js"></script>
  <script type="text/javascript" src="/scripts/vm-checkout.js"></script>
  <script type="text/javascript" src="/scripts/vm-order-history.js"></script>
  <script type="text/javascript" src="/scripts/vm-listeners.js"></script>
  <script type="text/javascript" src="/scripts/vm-ajax.js"></script>
  <script type="text/javascript" src="/scripts/vm-index.js"></script>

</body>

<!-- <script type="text/javascript" src="/scripts/app.js"></script>
<script type="text/javascript" src="/scripts/menu-items.js"></script>
<script type="text/javascript" src="/scripts/order.js"></script>
<script type="text/javascript" src="/scripts/restaurants.js"></script>
<script type="text/javascript" src="/scripts/users.js"></script> -->

</html>
