body {
  display: flex;
  //justify-content: center;
  align-items: center;
  min-height: 100vh;
  // background-color: #000000;
  // background-image: url("https://www.transparenttextures.com/patterns/tileable-wood-colored.png");

  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  // background-size: cover;

  // background: rgb(163, 208, 219);
  // background: linear-gradient(
  //   227deg,
  //   rgba(163, 208, 219, 1) 0%,
  //   rgba(163, 176, 219, 1) 20%,
  //   rgba(163, 173, 219, 1) 34%,
  //   rgba(163, 219, 208, 1) 59%,
  //   rgba(163, 208, 219, 1) 74%,
  //   rgba(163, 208, 219, 1) 100%
  // );
}

main {
  margin-top:4em;
  width:100vw;
  height: 100vh;
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/tileable-wood-colored.png");
}
