// color palette variables
$color_1: #1D00B0;
$color_2: #500370;
$color_3: #B39A12;

// template for on hover effects
%basic_hover {
  box-shadow: 2px 3px 5px $color_3;
  transform: scale(102%);
  //transition: .2s ease-in-out;
}

div.menu-items-container {
  margin-top: 100px;
}

div.menu-card div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}

img.menu-img {
  width: 300px;
  height: 200px;
  border-radius: 3%;

  &:hover {
    @extend %basic_hover;
  }
}

div.menu-details {
  flex-direction: column;
  justify-content: center;
  background-color: white;
  opacity: 70%;

}
