// template for on hover effects
%basic_hover {
  transform: scale(101%);
}

div.menu-items-container {
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/tileable-wood-colored.png");
  margin-top: 2em;
}

div.menu-card {
  align-items: center;

  img.menu-img {
    width: 300px;
    height: 200px;
    object-fit: cover;

    &:hover {
      @extend %basic_hover;
    }
  }

  .menu-details {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 200px;
    background-color: white;
    opacity: 80%;
    border-radius: 10px;
    box-shadow: 4px 4px 15px black;

    &:hover {
      @extend %basic_hover;
    }

    .menu-title {
      font-size: clamp(14px, 3vw, 25px);
      text-align: center;
      text-transform: uppercase;
    }

    .menu-description {
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .menu-options {
      display: flex;
      justify-content: space-between;
    }

    #menu-quantity {
      width: auto;
    }
  }
}

.red {
  color: red;
}
.green {
  color: green;
}
