nav {
  height:4em;

  .dropdown-menu {
    background-color: #212529;
    color: white;
    border-radius: 1rem;

    .dropdown-item {
      color: white;
      width: 80%;
    }

    .fa-times {
      color: red;
    }

    .order-cancel {
      width: 7rem;
      margin-bottom: 1rem;
    }
  }

  .dropdown-menu-right.show {
    display: block;
    right: 0;
    left: auto;
  }
}



#dropdown-section {
  display: flex;
  flex-direction: row;
}
