div.user-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  left:98vw;
  width:33vw;
  position: fixed;
  top:4em;
  bottom: 0;
  right:0;
  background-color: #212529;
  color: white;
  z-index: 10;
  border-left: 2px solid black;
  -webkit-box-shadow: -5px 0px 15px  rgba(0, 0, 0);
  box-shadow: -5px 0px 15px  rgba(0, 0, 0);

    #slide-button {
      transform: rotate(180deg);
      color:grey;
      height:1em;
      width:1em;
      position: relative;
      left: .5rem;
    }

    @keyframes rotate-180 {
      from {transform: rotate(0deg);}
      to {transform: rotate(180deg);}
    }

    .rotate {
      animation-name: rotate-180;
      animation-duration: 0.5s;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-fill-mode: forwards;
    }

    .unrotate {
      animation-name: rotate-180;
      animation-duration: 0.5s;
      animation-iteration-count: 1;
      animation-direction: reverse;
      animation-fill-mode: forwards;

    }

    #user-container {
      border-left: 2px black;
      top:4em;
      width: 100%;
      height: 100%;
    }

    .user-tab {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: relative;
      border: 2px solid black;
      border-top: 0px solid black;
      top:0em;
      left: 1em;
      height: 50%;
      width: 100%;
    }

    .styled-submit{
      border:2px solid green;
      border-radius: 5px;
      padding: 0em 1em 0em 1em;
      text-align: center;
      align-items: center;
      height: 2rem;
      width: 100%;
      justify-content: center;
      display: flex;
    }

    .styled-submit:hover {
      background-color: honeydew;
      color: green;
    }
}

#user-icon-status {
  background-color: transparent;
  font-size:2rem;
  margin: 0rem 1rem 0rem 1rem;
}

#user-icon {
  background-color: transparent;
  font-size:5rem;
}

.icon-active {
  color:rgba(255, 255, 255, 0.685)
}

.icon-inactive {
  color: #424242;
}

.user-row-1 {
  padding-left: 1em;
  padding-right: 3em;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75%;
}

.user-col-1 {
  height:5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 10rem;
}

#user-register {
  height: 25%;
  color: grey;
  font-size: 0.75rem;
}

.empty-space {
  height: 25%;
  color: grey;
  font-size: 0.75rem;
}

.user-data-card {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#user-sign-card {
  box-shadow: 0px 0px 5px 0px black inset;
}

.user-form {
  width: 100%;
  height:2rem;
}

.user-input {
  width: 66%;
}

#signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

.user-col-2 {
  height:5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 12rem;
}

#phonenumber {
  margin-left:1em;
}

#logout {
  width: 50%;
}

.order-info-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

.order-info {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 25%;
  width: 100%;
  text-align: center;
  padding:3px;
}

.order-col-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50%;
}

#order-history-container {
  height: 75%;
  width: 100%;
  overflow: scroll;
  box-shadow: 0px 0px 5px 0px black inset;
}

#current-order-container {
  height: 75%;
  width: 100%;
  overflow: scroll;
  box-shadow: 0px 0px 5px 0px black inset;
}

.order-history-item {
  font-size: 0.6em;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  color: grey;
  border-bottom: 1px solid black;

  line {
    width:33%
  }
}

#current-order {
  border-top: 0px solid black;
}

.none-display {
  display:none !important
}

@media only screen and (max-width: 768px) {

  .menu-items-container {
    font-size: 12px;
  }

  div.user-options {
    width:100vw;
    left:90vw;
  }

  #signed-in {
    display:none;
  }

}
