div.user-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  left:97vw;
  width:33vw;
  position: fixed;
  top:4em;
  bottom: 0;
  right:0;
  background-color: #212529;
  color: white;
  z-index: 10;
  border-left: 2px solid black;
  -webkit-box-shadow: -5px 0px 15px  rgba(0, 0, 0);
  box-shadow: -5px 0px 15px  rgba(0, 0, 0);

    i {
      transform: rotate(180deg);
      color:grey;
      height:1em;
      width:1em;
      position: relative;
      left: .5rem;
    }

    @keyframes rotate-180 {
      from {transform: rotate(0deg);}
      to {transform: rotate(180deg);}
    }

    .rotate {
      animation-name: rotate-180;
      animation-duration: 0.5s;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-fill-mode: forwards;
    }

    .unrotate {
      animation-name: rotate-180;
      animation-duration: 0.5s;
      animation-iteration-count: 1;
      animation-direction: reverse;
      animation-fill-mode: forwards;

    }

    #user-container {

      border-left: 2px black;
      top:4em;
      width: 100%;
      height: 100%;

    }

    #user-options {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      position: relative;
      border: 2px solid black;
      top:0em;
      left: 1em;
      height: 50%;
      width: 100%;
    }

    .name-input {
      width: 5rem;
    }
}

#user-icon {
  background-color: transparent;
  font-size:2rem;
  margin: 0rem 1rem 0rem 1rem;
}

.icon-active {
  color:rgba(255, 255, 255, 0.685)
}
